body {
background: #060e1b;
overflow: hidden;
}
#particles {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    z-index: 100;
    animation: particles 2s ease-out forwards;
}
@keyframes particles {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    50% {
        width: 500px;
        height: 500px;
        opacity: 0.5;
    }
    100% {
        width: 2000px;
        height: 2000px;
        opacity: 0;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}