body {
    margin: 0;
    font-family: Arial, sans-serif;
    cursor: url('https://i.ibb.co/W0nLp8g/1.png') 8 8, auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(res/index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    color: white;
}

h1 {
    font-size: 3vw; /* Change from 3em to 3vw */
    margin-bottom: 40px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.dot-navigation {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    opacity: 0.5;
}

.dot:hover {
    opacity: 1;
}

.profile-content {
    display: flex;
    justify-content: center;
    align-items: flex;
    gap: 10%;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    flex-grow: 1;
}

.info-item {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    transform-origin: left;
}

.info-item:hover {
    transform: scale(1.5);
    transition: transform 0.3s ease;
}

.info-item a {
    color: white;
    text-decoration: none;
}

.info-item a:hover {
    text-decoration: underline;
}



.arrow-down {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    cursor: pointer;
    transform-origin:top;
}
.arrow-down:hover {
    transform: translateX(-50%) scale(1.5);
    transition: transform 0.3s ease;
}

.photo-container {
    width: 20%; /* Change from 150px to 15% */
    height: 0; /* Set to 0 to maintain aspect ratio */
    padding-bottom: 20%; /* Add padding-bottom equal to the width percentage */
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    margin-top: 0%;
    position: relative; /* Add this line to position the img element inside the container */

}

/* .photo-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0.8) 100%);
    pointer-events: none;
} */

.photo-container img {
    position: absolute; /* Add this line to position the img element inside the container */
    top: 0; /* Add this line to position the img element at the top of the container */
    left: 0; /* Add this line to position the img element at the left of the container */
    width: 100%;
    height: 100%; /* Change from auto to 100% */
    object-fit: cover; /* Add this line to maintain the aspect ratio of the image */
}

.rotate {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
